body
{
    background-repeat: no-repeat;
    background-color: #FDFDFD;
    color: #161923;
    font-family: 'Montserrat', sans-serif;
}

a
{
    text-decoration: none;
}

.card
{
    margin:30px;
    padding: 30px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 50px;
}

.nav
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;

    border: 2px solid rgba(215, 19, 19, 0.125);
}

.nav ul li
{
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 0;

    border: 2px solid rgba(30, 185, 113, 0.125);
}

.nav a
{
    color: rgba(0, 0, 0, .4);
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: all 0.5s ease-out;
    flex-direction: column;
    align-items: center;
    display: flex;

    border: 2px solid rgba(19, 215, 25, 0.125);
}

.nav a:hover
{
    color: #161923;
}

.nav a.active
{
    color: black;
    font-size: 18px;

    border: 2px solid rgba(48, 19, 215, 0.125);
}

.nav a.active i,
.nav a:hover i{
    opacity: 1;
}

.nav a i
{
    transition: .45s all;
    transform: rotate(30deg);
    font-size: 10px;
    margin-top: 5px;
    color: #66CC66;
    opacity: 0;

    border: 2px solid rgba(244, 65, 65, 0.204);

}

.c
{
    font-size: 35px;
    text-align: center;
    font: bold 3em Arial, sans-serif;
    color: #0d3967;
    border: 2px solid rgba(48, 19, 215, 0.125);
}

.cv1{text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,    #cad5e2 3px 3px 0, #cad5e2 4px 4px 0,    #cad5e2 5px 5px 0;}
.cv2{text-shadow: 0 0 5px rgba(0,0,0,0.5);}
.cv3{text-shadow: red 0 0 2px;}
.cv4
{
    background: #f0f0f0;
    font: bold 3em Arial, sans-serif;   color: #f0f0f0;
    text-shadow: #fff -1px -1px 0,    #333 1px 1px 0;
}
.cv5
{
    text-shadow: #5dc8e5 0 0 10px;
    color: #0083bd;
}
.cv6{text-shadow: red 0 0 10px;}
.cv7
{
    text-shadow: #000 0 0 5px;
    color: transparent;
}


.textcols-item {
	white-space: normal;	
	display: inline-block;
	vertical-align: top;
	margin-right: 5%;
	font-size: 14px;
}


@font-face 
{
    font-family: "Montserrat"; 
    src: url("../fonts/Montserrat-Regular.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
